body {
	font-family: "Noto Sans", sans-serif;
}

h1, h2, h3 {
	font-family: "Oswald", serif;
}

p {
	max-width: 40rem;
}

a {
	color: #351c75;
	text-decoration: inherit;
	-webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s, text-decoration 0.5s ease;
	text-decoration-color: #351c7550;
}

a:hover {
	color: #ad1457;
	text-decoration-color: #ad145750;
}

.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	width: 40vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.socials-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0;
	margin: 5vh;
	list-style: none;
}

.socials-icon {
	padding: 1vh;
	width: 1.5rem;
	height: 1.5rem;
	overflow: visible;
}

.name {
	margin: 0;
	font-size: 2.5rem;
}

.role {
	margin: 0;
}

.centered {
	text-align: center;
}

.content {
	margin: auto;
	float: right;
	width: 55vw;
	margin-bottom: 3rem;
}

.section {
	margin-top: 2.5rem;
	color: #351c75;
}

.content a {
	text-decoration-line: underline;
	text-underline-offset: 0.3rem;
	text-decoration-skip-ink: none;
}

.title {
	margin-bottom: 0;
	max-width: 40rem;
}

.description {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.date {
	color: #351c75;
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.skills {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0;
	list-style: none;
	margin-top: 0.5rem;
	column-gap: 0.25rem;
	row-gap: 0.25rem;
	flex-wrap: wrap;
}

.skills > li {
	display: inline-block;
	border-radius: 20px;
	background: #351c75;
	padding: 0.5rem;
	color:white;
	font-size: 0.8rem;
}


* {
	scrollbar-width: thin;
	scrollbar-color: #ad1457 transparent;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #ad1457;
	border-radius: 20px;
}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #121212;
		color: white;
	}

	a {
		color: #ad1457;
		text-decoration-color: #ad145750;
	}

	a:hover {
		color: #351c75;
		text-decoration-color: #351c7550;
	}

	.skills > li {
		background: #351c75;
	}

	.section {
		color: white;
	}

	.date {
		color: #ad1457;
	}

	* {
		scrollbar-color: #351c75 transparent;
	}
	
	*::-webkit-scrollbar-thumb {
		background-color: #351c75;
	}
}