.content {
	margin: auto;
	float: right;
	width: 55vw;
}

.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	width: 40vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul.socials-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0;
	margin: 5vh;
	list-style: none;
}

svg.socials-icon {
	padding: 1vh;
	width: 1.5rem;
	height: 1.5rem;
	overflow: visible;
}

h1.name {
	margin: 0;
	font-size: 2.5rem;
}

h2.title {
	margin: 0;
}

.centered {
	text-align: center;
}

body {
	font-family: "Noto Sans", sans-serif;
}

h1, h2, h3 {
	font-family: "Oswald", serif;
}

a {
	color: #351c75;
	text-decoration: inherit;
	-webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

a:hover {
	color: #ad1457;
}

ul.skills {
	padding: 0;
	list-style: none;
}

ul.skills > li {
	display: inline-block;
	border-radius: 20px;
	background: #351c75;
	padding: 0.5rem;
	color:white;
	font-size: 0.8rem;
}

body p {
	max-width: 40rem;
}